* {padding:0;margin:0;}

html{
  background: #333;
  min-height: 100%;
}

/* Text Editor CSS */
.TextEditor {
  position: relative;
  margin-left: 200px;
}
.Numbers {
  float: left;
  background: #222;
  min-height: 100vh;
}
.Number {
  text-align: right;
  background: #222;
  color: #ccc;
  padding: 4px 12px;
  user-select: none;
  height: 1em;
}
.Number:hover {
  cursor: default;
}
.Lines {
  overflow-x: auto;
  overflow-y: hidden;
}
.Line {
  height: 1em;
  background: #333;
  color: #ccc;
  padding: 4px 0;
}
.Line:focus {
  background: #252525;
  outline: none;
}
.LineText {
  white-space: pre;
}
.token::-moz-selection {
  background: rgba(255,255,255,.1);
}
.token::selection {
  background: rgba(255,255,255,.1);
}
.LineText::-moz-selection {
  background: rgba(255,255,255,.1);
}
.LineText::selection {
  background: rgba(255,255,255,.1);
}

.Page {
  position: relative;
  font-family: "Courier New";
}

/* Cursor CSS */
.Cursor {
  position: absolute;
  display: block;
  height: 1em;
  padding: 4px 0;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 2px;
  background: #ff0000;
}
@keyframes cursorBlink {
  0%{opacity:1}
  15%{opacity:0}
  50%{opacity:0}
  75%{opacity:1}
  100%{opacity:1}
}
@-webkit-keyframes cursorBlink {
  0%{opacity:1}
  15%{opacity:0}
  50%{opacity:0}
  75%{opacity:1}
  100%{opacity:1}
}

@keyframes cursorSolid {
  0%{opacity:1}
}
@-webkit-keyframes cursorSolid {
  0%{opacity:1}
}

/* Landing CSS */
.Landing {
  background: #fb4646;
  height: 100vh;
  width: 100%;
  font-family: "Roboto";
}
.Landing-Logo {
  height: 200px;
}
.Landing-Logo-Image {
  height: 100%;
  width: 50%;
  display: block;
  margin: auto;
}

.Menu {
  width: 300px;
  margin: 20px auto;
}
.Menu-Button {
  background: rgba(0,0,0,0);
  border: 2px solid #fff;
  text-align: center;
  font-size: 2em;
  font-family: 'Arial';
  color: #fff;
  user-select: none;
}
.Menu-Button:hover {
  background: rgba(255,255,255,0.2);
  cursor: pointer;
}

/* Project Tree CSS */
.ProjectTree {
  z-index: 998;
  width: 200px;
  height: 100vh;
  overflow: hidden;
  background: #111;
  position: fixed;
  font-family: "Roboto";
  color: #fff;
}

.FolderItems {
  margin-left: 20px;
  list-style-type: disc;
}
.FolderRoot {
  margin-left: 20px;
  user-select: none;
}
.FolderRoot:hover {
  cursor: default;
}
.Folder {
  list-style-type: circle;
}
.File {

}
.ProjectTreeContextMenu {
  z-index: 999;
  display: none;
  position: fixed;
  width: 200px;
  height: 300px;
  background: #ff0000;
}
.ProjectTreeAdd {
  width: 100%;
}
