.Line {
  width: 100%;
  background: #ddd;
  font-family: "Courier New";
  white-space: pre-wrap;
  display: flex;
}
.Line:focus {
  background: #bbb;
  outline: none;
}
.LineText {
  padding: 2px 0;
  white-space: pre-wrap;
}
.LineNumber {
  padding: 2px 12px;
  user-select: none;
  color: #ccc;
  background: #333;
}
.LineNumber:hover {
  cursor: default;
}

.TextEditor {
  position: relative;
}

.Page {
  position: relative;
  overflow: auto;
}

.Cursor {
  position: absolute;
  display: block;
  height: 22.2px;
  z-index: 10;
  top: 42px;
  left: 42px;
  width: 2px;
  background: #000;
  opacity: 1;
  animation: cursorBlink 1s infinite;
}


.LineText::-moz-selection {
  background: rgba(255,0,0,0.1);
}
.LineText::selection {
  background: rgba(255,0,0,0.1);
}

@keyframes cursorBlink {
  0%{opacity:1}
  15%{opacity:0}
  50%{opacity:0}
  75%{opacity:1}
  100%{opacity:1}
}
@-webkit-keyframes cursorBlink {
  0%{opacity:1}
  15%{opacity:0}
  50%{opacity:0}
  75%{opacity:1}
  100%{opacity:1}
}


@keyframes cursorSolid {
  0%{opacity:1}
}
@-webkit-keyframes cursorSolid {
  0%{opacity:1}
}
